*, *::before, *::after {
    margin: 0; 
    padding: 0; 
    outline: none; 
    box-sizing: border-box; 
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(
        325deg, 
        #03001E 0%, 
        #7303C0 30%,
        #ec38bc 70%, 
        #fdeff9 100%);
    padding: 2.5rem 3rem;
}

h2 {
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 1rem 1.25rem;
    width: 100%;
    color: black;
    background-color: whitesmoke;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #262809;
}

.game {
    width: 27rem;
    height: 27rem;
    min-width: 432px;
    min-height: 432px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75px;
}

.item {
    position: relative;
    width: 6rem;
    height: 6rem;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    transform-style: preserve-3d;
    transition: transform 0.25s;
    cursor: pointer;
    border-radius: 8px;
}

/* Frente da carta (EMOJI) */
.item .front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 8px;
    border: 2px solid #000;
}

/* Verso da carta (FACE ESCURA) */
.item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #404040;
    backface-visibility: hidden;
    border-radius: 8px;
    border: 2px solid #000;
}

/* ESTADO INICIAL: Mostrando EMOJI (frente) */
.item {
    transform: rotateY(180deg);
}

/* ESTADO NORMAL: Mostrando FACE ESCURA (verso) */
.item.hidden {
    transform: rotateY(0deg);
}

/* Carta aberta (mostrando emoji) */
.item.boxOpen {
    transform: rotateY(180deg);
}

/* Carta combinada */
.item.boxMatch {
    transform: rotateY(180deg);
    cursor: default;
}

.item.boxMatch .front {
    background-color: #8aff8a;
}